streamlit==1.42.0
langchain-core>=0.3.49
langchain-community==0.3.15
langgraph==0.2.65
langgraph-checkpoint-sqlite==2.0.1
langgraph-checkpoint-postgres==2.0.1
langchain-openai==0.3.11
langchain-pinecone==0.2.13
pinecone==6.0.0
chromadb==0.5.20
psycopg==3.2.4
psycopg-pool==3.2.4
python-dotenv==1.0.1
pydantic>=2.11.1
PyJWT==2.10.1
bcrypt==4.2.1
pandas==2.2.3
requests==2.32.3
langchain-ollama==0.2.2
